html {
    min-height: 100vh;
    min-width: 100vw;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background: #252525;
    color: #c1c1c1;
}

body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #151416;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #999999;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #151416;
    /* creates padding around scroll thumb */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

input[type="date"] {
    display: block;
    text-align: center;
    text-align: -webkit-center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=date] {
    -moz-appearance: textfield;
}

.none {
    display: none;
}

.center:hover {
    opacity: .99;
}

.header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    padding-left: 7vw;
    padding-right: 7vw;
    align-items: center;
}

.logo {
    color: #FFCE00;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    user-select: none;
}

.nav-links {
    display: flex;
    color: #C1C1C1;
    font-size: 1rem;
    line-height: 1rem;
    list-style: none;
}

.link {
    margin-left: 3rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.link>a {
    text-decoration: none;
    color: #C1C1C1;
}

.link>:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.active>:nth-child(1) {
    color: #ffffff;
}

main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.date-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35rem;
    height: 50px;
    background: transparent;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-slider>:nth-child(2),
.date-slider>:nth-child(4) {
    margin: 1rem;
}

.date-next {
    background-color: transparent;
    color: transparent;
    border: none;
    background-image: url('/static/arrow.svg');
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.date-prev {
    background-color: transparent;
    color: transparent;
    border: none;
    background-image: url('/static/arrow.svg');
    cursor: pointer;
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width:50rem) {
    .date-next:hover {
        transform: scale(1.2);
        transition: all .25s ease-in-out;
    }
    .date-prev:hover {
        transform: rotate(180deg) scale(1.2);
        transition: all .25s ease-in-out;
    }
}

.date-current {
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: white;
    -webkit-appearance: none;
}

.unstyled {
    -webkit-appearance: none;
}

.date-current::-webkit-inner-spin-button,
.date-current::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.date:hover {
    transform: scale(1.15);
}

.current {
    font-size: 1.5rem;
    color: white;
}

.input-sheet {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 1120px;
}

.label-panel {
    height: 40px;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c1c1c1;
}

.label {
    text-align: center;
    width: 150px;
    height: 1.5rem;
    margin: 5px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.label-total {
    text-align: center;
    color: white;
    font-weight: 500;
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    color: rgb(0, 180, 0);
}

.input-row {
    height: 40px;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c1c1c1;
}

.input-row-high {
    height: 4rem;
    align-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c1c1c1;
}

.input-row-bottom-line {
    height: 80px;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-small {
    text-align: center;
    border: none;
    background: transparent;
    color: white;
    width: 50px;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.incr-decr-btn {
    text-align: center;
    width: auto;
    height: 1rem;
    border: none;
    font-size: 1rem;
    color: white;
    background: transparent;
    margin: 0;
}

.input-big {
    width: 110px;
    text-align: center;
    border: 1px solid white;
    background: transparent;
    color: white;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.row-active {
    background: rgb(0, 78, 0);
}

.pointer {
    cursor: pointer;
}

.submission {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
    color: #ffffff;
}

.submission-inner {
    width: 30%;
    height: 90%;
    background-color: #252525;
    margin: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.submission-inner>p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grand-total {
    border: 3px solid white;
}

.submit-report {
    border: 3px solid white;
    background-color: rgb(131, 0, 0);
    color: white;
}

#text-message {
    color: white;
    width: auto;
    font-size: 12px;
    height: auto;
    border: none;
    background: transparent;
}

.copy-icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: .6;
}

.copy-icon:hover {
    opacity: 1;
}

.copy-icon-center {
    position: relative;
    width: 35px;
    height: 35px;
    left: 90%;
    transform: translateX(-50%);
    opacity: .5;
}

.container {
    width: 100%;
    height: 100%;
}

.green {
    filter: invert(31%) sepia(20%) saturate(1505%) hue-rotate(86deg) brightness(104%) contrast(91%);
}

.big {
    margin: 0;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 80px;
}

.high {
    height: 4rem;
    align-items: center;
    margin: 0;
}

.go-to {
    position: absolute;
    background: #909090;
    opacity: .5;
    width: 60px;
    height: 30px;
    color: #252525;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    left: 90px;
    cursor: pointer;
}

.less {
    opacity: .6;
}

.go-to:hover {
    opacity: 1;
}

.greener {
    background: rgb(0, 73, 0);
}

.spacer {
    height: 3rem;
}

@media (max-width: 50rem) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header {
        width: 100vw;
        height: 4rem;
        padding-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: none;
    }
    .date-slider {
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        justify-content: center;
    }
    .date-slider>:nth-child(2),
    .date-slider>:nth-child(4) {
        margin: 1rem;
    }
    .date-current {
        font-size: 1rem;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"] {
        -webkit-appearance: none !important;
    }
    .label-total {
        font-size: 1rem;
    }
    .copy-icon {
        width: 25px;
    }
    .link {
        margin: 0 1rem;
    }
    .date-prev,
    .date-next {
        width: 40px;
    }
    .input-sheet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 0 5vw;
        overflow-x: scroll;
    }
    .input-row,
    .label-panel {
        width: fit-content;
        min-width: 90vw;
    }
    .label {
        width: 20vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .incr-decr-btn {
        width: 20%;
        height: 1rem;
        line-height: 1rem;
        align-items: center;
        font-size: 1rem;
    }
    .input-small {
        width: 40%
    }
    .input-big {
        width: 90%;
    }
    .submission {
        flex-direction: column;
        height: auto;
    }
    .submission-inner {
        width: 80%;
        height: 60px;
    }
}

.login-form {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.login-form div,
button {
    margin-top: 30px;
}

.login-form btn,
input {
    width: 15rem;
    height: 2rem;
    text-align: center;
    background-color: #C1C1C1;
    border: none;
}

.login-form input:focus {
    border: 3px solid #151416;
}

.login-btn {
    height: 2rem;
    color: #151416;
    font-weight: 600;
    background-color: #FFCE00;
    border: 2px solid #151416;
}