html {
    min-height: 100vh;
    min-width: 100vw;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background: #252525;
    color: #c1c1c1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.none {
    display: none;
}

.header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    padding-left: 7vw;
    padding-right: 7vw;
    align-items: center;
}

.logo {
    color: #FFCE00;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    user-select: none;
}

.nav-links {
    display: flex;
    color: #C1C1C1;
    font-size: 1rem;
    line-height: 1rem;
    list-style: none;
}

.link {
    margin-left: 3rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.link>a {
    text-decoration: none;
    color: #C1C1C1;
}

.link>:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.active>:nth-child(1) {
    color: #ffffff;
}

main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.date-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35rem;
    height: 50px;
    background: transparent;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-next {
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    aspect-ratio: 1;
    background-image: url(arrow.svg);
    transition: all .25s ease-in-out;
}

.date-prev {
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    aspect-ratio: 1;
    background-image: url(arrow.svg);
    transition: all .25s ease-in-out;
    transform: rotate(180deg);
}

.date-next:hover {
    width: 40px;
}

.date-prev:hover {
    width: 40px;
}

.date-current {
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: white;
}

input[type=date]::-webkit-datetime-edit {
    text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 390px;
    color: rgba(0, 0, 0, 0);
    opacity: .4;
    display: block;
    background: url(/static/calendar.svg) no-repeat;
    width: 30px;
    height: 30px;
    border-width: thin;
    cursor: pointer;
    z-index: 9999;
}

.date:hover {
    transform: scale(1.15);
}

.current {
    font-size: 1.5rem;
    color: white;
}

.input-sheet {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 1120px;
}

.label-panel {
    height: 40px;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c1c1c1;
}

.label {
    text-align: center;
    width: 150px;
    height: 1.5rem;
    margin: 5px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.label-total {
    text-align: center;
    width: 250px;
    height: 3rem;
    margin: 15px;
    color: white;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.input-row {
    height: 40px;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c1c1c1;
}

.input-row-high {
    height: 4rem;
    align-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c1c1c1;
}

.input-row-bottom-line {
    height: 80px;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.input-small {
    text-align: center;
    border: none;
    background: transparent;
    color: white;
    width: 50px;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.incr-decr-btn {
    width: 30px;
    border: none;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border: none;
    color: white;
    background: transparent;
}

.input-big {
    width: 110px;
    text-align: center;
    border: 1px solid white;
    background: transparent;
    color: white;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.row-active {
    background: rgb(0, 78, 0);
}

.pointer {
    cursor: pointer;
}

.submission {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
    color: #ffffff;
}

.submission-inner {
    width: 30%;
    height: 90%;
    background-color: #252525;
    margin: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.submission-inner>p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grand-total {
    border: 3px solid white;
}

.submit-report {
    border: 3px solid white;
    background-color: rgb(131, 0, 0);
    color: white;
}

#text-message {
    color: white;
    width: auto;
    font-size: 12px;
    height: auto;
    border: none;
    background: transparent;
}

.copy-icon {
    position: absolute;
    transform: translateX(-35vw);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
}

.green {
    filter: invert(31%) sepia(20%) saturate(1505%) hue-rotate(86deg) brightness(104%) contrast(91%);
}

.big {
    margin: 0;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 80px;
}

.high {
    height: 4rem;
    align-items: center;
    margin: 0;
}

.go-to {
    position: absolute;
    background: #909090;
    opacity: .5;
    width: 60px;
    height: 30px;
    color: #252525;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    left: 90px;
    cursor: pointer;
}

.go-to:hover {
    opacity: 1;
}

.greener {
    background: rgb(0, 73, 0);
}

@media (max-width: 35rem) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        display: none;
    }
    .header {
        max-width: 100vw;
    }
    .date-slider {
        max-width: 100vw;
        padding: 0rem 2rem;
    }
    .input-sheet {
        max-width: 100vw;
    }
    .label-panel {
        max-width: 100vw;
    }
    .input-row {
        width: 100vw;
    }
    .label {
        width: 25%;
        margin: 0;
    }
    .big {
        margin: 10px;
        width: auto;
    }
    .link {
        margin: 0;
    }
    .nav-links {
        width: 100vw;
        padding: 3rem 3rem;
        justify-content: space-between;
    }
    .date-prev {
        position: relative;
    }
    .date-next {
        display: relative;
    }
    .date-current {
        width: 50%;
    }
    .go-to {
        position: relative;
        margin: 0;
        left: 0;
    }
    input[type="date"] {
        color: white;
    }
}