<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRS:{% block title %} {% endblock %}</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>

<body>
    <nav class="header">
        <div class="logo">HOTEL REVENUE STREAMS</div>
        <ul class="nav-links">
            <li class="link">
                <a href="/">Display</a>
            </li>
            <li class="link">
                <a href="/add-data">Edit</a>
            </li>
            <li class="link">
                <a href="#">WIP</a>
            </li>
        </ul>
    </nav>
    {% block main %}{% endblock %}
</body>

</html>